//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #c2c2c2;

  &::before,
  &::after {
      content: "";
      flex: 1;
      border-bottom: 2px solid #c2c2c2;
  }
  &::before {
      margin-right: 0.25em;
  }
  &::after {
      margin-left: 0.25em;
  }
}

// companies card
.flip-card-outer {
    width: 300px;
    height: 400px;
    margin: 25px 0;
  
    &.focus-trigger:focus {
      outline: 5px solid greenyellow;
      outline-offset: 5px;
    }
  
    .flip-card-inner {
      transform-style: preserve-3d;
      transition: .5s linear .1s;
      position: relative;
      width: inherit;
      height: inherit;
  
      &.hover-trigger:hover {
        transform: rotateY(180deg);
      }
  
      &.showBack {
        transform: rotateY(180deg);
      }
    
      .card {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 10px 10px #009EF7;
        border: 2px solid #3E7DC0;
    
        &.front {
          transform: rotateY(0);
          background-color: #f3efe5;
          color: #332b16;
          font-family:Verdana;
          font-weight: 700;

        }
    
        &.back {
          transform: rotateY(180deg);
          background-color: #f3efe5;
          color: #332b16;
          font-family: Verdana;
        }
      }
    }
  }
  
  #box-round {
    top: 100%;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    margin-right: 20px;
    background-color: #f72414;
    transform: translateY(0%);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
  }// base
  
  #box-round:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 23px;
    height: 23px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
  }// round putih
  
  #box-round:hover:before {
    width: 30px;
    height: 30px;
    box-shadow: inset 0 7px 10px #ff9d96;
  }
  
  #box-round:active {
    transform: translateY(-50%) scale(0.9);
  }
  
  #box-round:checked {
    background-color: #07d410;
  }
  
  #box-round:checked:before {
    width: 0;
    height: 0;
  }

  .modal-custom {
    max-width: none;
    width: 650px;
  }


  /* :::::::::::::: Presentation css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --locked-color: #5fadbf;
  --unlocked-color: #ff5153;
}
/* :::::::::::::: Required CSS */
/* Locked */
.lock {
  width: 24px;
  height: 21px;
  border: 3px solid var(--locked-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border: 3px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* Locked Hover */
.lock:hover:before {
  height: 16px;
}
/* Unlocked */
.unlocked {
  width: 24px;
  height: 21px;
  border: 3px solid var(--locked-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  transform: rotate(10deg);
}
.unlocked:before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  position: absolute;
  border: 3px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  bottom: 130%;
  left: 31%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
  border-color: var(--unlocked-color);
}
.unlocked:after {
  content: "";
  display: block;
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: var(--unlocked-color);
}
/* Unlocked Hover */
.unlocked:hover {
  transform: rotate(3deg);
}
.unlocked:hover:before {
  height: 10px;
  left: 40%;
  bottom: 124%;
  transform: rotate(-30deg);
}
  
// Layout
@import "layout/layout";
@import "./core/layout/docs/layout";
